*{
    margin: 0;
    padding: 0;
}

:root{
    --color-black: black;
}

html{
    scroll-behavior: smooth;
}

body{
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar{
    display: none;
}

.anakutu{
    margin: 0 auto;
    background-color: #342447;
    width: 100vw;
    height: 126.25vw;
}

.anakutu .nav{
    width: 100vw;
    height: 6.510416666666667vw;
    background-color: #081029;
    /*border-bottom: 0.052083333333333336vw solid white;*/
}

.anakutu .nav .logo{
    width: 6.510416666666667vw;
    height: 6.510416666666667vw;
    background-color: transparent;
}

.anakutu .nav .logo img{
    width: 6.510416666666667vw;
    height: 6.510416666666667vw;
}

.anakutu .nav #menu{
    list-style-type: none;
    margin-top: 1.6020833333333333vw;
    margin-left: 58.854166666666664vw;
}

.anakutu .nav #menu li{
    float: left;
    margin-left: 1.1020833333333333vw;
}

.anakutu .nav #menu li a{
    margin: 0 auto 0 auto;
    display: table;
    font-size: 1.2020833333333333vw;
    text-decoration: none;
    color: white;
    padding: 0.6125vw;
    border-radius: 0px 1.3020833333333333vw 0px 1.3020833333333333vw;
    transition: .5s;
}

.anakutu .nav #menu li a:hover{
    background-color: #21152f;
}

.anakutu .nav #menu:hover li a:not(:hover){
    opacity: 0.3;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.anakutu .nav #menu  .dropdown-content {
    display: none;
    position: absolute;
    top: 3.125vw;
    left: 0.8770833333333334vw;
    width: 10.208333333333333vw;
    overflow: auto;
    box-shadow: 0vw 0.5208333333333334vw 0.5208333333333334vw 0vw rgba(0,0,0,0.4);
    border-radius: 0.5208333333333334vw;
    padding: 0.5208333333333334vw;
    background-color: #21152f;
}

.anakutu .nav #menu  .dropdown:hover .dropdown-content {
    display: block;
}

.anakutu .nav #menu  .dropdown-content a {
    display: block;
    color: white;
    padding: 0.2604166666666667vw;
    text-decoration: none;
}

.anakutu .nav #menu .dropdown-content a:hover {
    color: rgb(136, 62, 62);
}

/**/

.dropdownTwo {
    display: inline-block;
    position: relative;
}

.anakutu .nav #menu  .dropdown-content-two {
    display: none;
    position: absolute;
    top: 3.125vw;
    left: -1vw;
    width: 10.208333333333333vw;
    overflow: auto;
    box-shadow: 0vw 0.5208333333333334vw 0.5208333333333334vw 0vw rgba(0,0,0,0.4);
    border-radius: 0.5208333333333334vw;
    padding: 0.5208333333333334vw;
    background-color: #21152f;
}

.anakutu .nav #menu  .dropdownTwo:hover .dropdown-content-two {
    display: block;
}

.anakutu .nav #menu  .dropdown-content-two a {
    display: block;
    color: white;
    padding: 0.2604166666666667vw;
    text-decoration: none;
}

.anakutu .nav #menu .dropdown-content-two a:hover {
    color: rgb(136, 62, 62);
}

/**/

.anakutu .sliderArea{
    width: 100vw;
    height: 41.666666666666664vw;
}

.anakutu .sliderArea #caption{
    margin: 0 auto 0 auto;
    display: table;
    font-size: 2.5020833333333333vw;
    color: #5f4f76;
}

.anakutu .sliderArea .slider{
    position: relative;
    top: 3.125vw;
    width: 41.666666666666664vw;
    height: 26.041666666666668vw;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1.3020833333333333vw;
}

.anakutu .sliderArea .slider .slider-content{
    position: absolute;
    width: 500%;
    left: 0;
    animation: slide 15s infinite;
}

.anakutu .sliderArea .slider .slider-content .slider-item{
    width: 20%;
    float: left;
}

.anakutu .sliderArea .slider .slider-content img{
    width: 41.666666666666664vw;
    height: 26.041666666666668vw;
}

@keyframes slide {
    0% {
        transform: translateX(0vw);
    }
    10% {
        transform: translateX(-41.666666666666664vw);
    }
    20% {
        transform: translateX(-41.666666666666664vw);
    }
    30% {
        transform: translateX(-83.33333333333333vw);
    }
    40% {
        transform: translateX(-83.33333333333333vw);
    }
    50% {
        transform: translateX(-125vw);
    }
    60% {
        transform: translateX(-125vw);
    }
    70% {
        transform: translateX(-166.66666666666666vw);
    }
    80% {
        transform: translateX(-166.66666666666666vw);
    }
    90% {
        transform: translateX(0vw);
    }
}

/**/

.anakutu .cardsArea{
    width: 100vw;
    height: 62.5vw;
    padding: 4.166666666666667vw;
}

.anakutu .cardsArea .area{
    width: 91.66666666666667vw;
    height: 52.083333333333336vw;
    display: block;
}

/**/

.anakutu .cardsArea .area .areaOne{
    background-color: transparent;
    width: 91.66666666666667vw;
    height: 26.041666666666668vw;
    padding: 1.5625vw;
    display: flex;
}

/**/

.anakutu .cardsArea .area .areaOne .cardOne{
    background-color: #5f4f76;
    width: 20.833333333333332vw;
    height: 22.395833333333332vw;
    margin-right: 13.020833333333334vw;
    border-radius: 1.3020833333333333vw;
    box-shadow: 0vw 0vw 3.050640634533252vw 0.6101281269066504vw #081029;
    transition: .5s ease;
}

.anakutu .cardsArea .area .areaOne .cardOne .imgOne{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
}

.anakutu .cardsArea .area .areaOne .cardOne .imgOne img{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
    border-radius: 1.3020833333333333vw 1.3020833333333333vw 0vw 0vw;
}

.anakutu .cardsArea .area .areaOne .cardOne .imgOne #htmlText{
    width: 20.833333333333332vw;
    height: 11.854166666666666vw;
    color: white;
    padding-top: 2.6041666666666665vw;
    font-size: 0.8854166666666666vw;
    text-align: center;
}

/**/

.anakutu .cardsArea .area .areaOne .cardTwo{
    background-color: #5f4f76;
    width: 20.833333333333332vw;
    height: 22.395833333333332vw;
    margin-right: 13.020833333333334vw;
    border-radius: 1.3020833333333333vw;
    box-shadow: 0vw 0vw 3.050640634533252vw 0.6101281269066504vw #081029;
    transition: .5s ease;
}

.anakutu .cardsArea .area .areaOne .cardTwo .imgTwo{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
}

.anakutu .cardsArea .area .areaOne .cardTwo .imgTwo img{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
    border-radius: 1.3020833333333333vw 1.3020833333333333vw 0vw 0vw;
}

.anakutu .cardsArea .area .areaOne .cardTwo .imgTwo #cssText{
    width: 20.833333333333332vw;
    height: 11.854166666666666vw;
    color: white;
    padding-top: 2.6041666666666665vw;
    font-size: 0.8854166666666666vw;
    text-align: center;
}

/**/

.anakutu .cardsArea .area .areaOne .cardThree{
    background-color: #5f4f76;
    width: 20.833333333333332vw;
    height: 22.395833333333332vw;
    border-radius: 1.3020833333333333vw;
    box-shadow: 0vw 0vw 3.050640634533252vw 0.6101281269066504vw #081029;
    transition: .5s ease;
}

.anakutu .cardsArea .area .areaOne .cardThree .imgThree{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
}

.anakutu .cardsArea .area .areaOne .cardThree .imgThree img{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
    border-radius: 1.3020833333333333vw 1.3020833333333333vw 0vw 0vw;
}

.anakutu .cardsArea .area .areaOne .cardThree .imgThree #jsText{
    width: 20.833333333333332vw;
    height: 11.854166666666666vw;
    color: white;
    padding-top: 2.6041666666666665vw;
    font-size: 0.9154166666666666vw;
    text-align: center;
}

/**/

.anakutu .cardsArea .area .areaTwo{
    background-color: transparent;
    width: 91.66666666666667vw;
    height: 26.041666666666668vw;
    padding: 1.5625vw;
    display: flex;
}

/**/

.anakutu .cardsArea .area .areaTwo .cardFour{
    background-color: #5f4f76;
    width: 20.833333333333332vw;
    height: 22.395833333333332vw;
    margin-right: 13.020833333333334vw;
    border-radius: 1.3020833333333333vw;
    box-shadow: 0vw 0vw 3.050640634533252vw 0.6101281269066504vw #081029;
    transition: .5s ease;
}

.anakutu .cardsArea .area .areaTwo .cardFour .imgFour{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
}

.anakutu .cardsArea .area .areaTwo .cardFour .imgFour img{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
    border-radius: 1.3020833333333333vw 1.3020833333333333vw 0vw 0vw;
}

.anakutu .cardsArea .area .areaTwo .cardFour .imgFour #pyText{
    width: 20.833333333333332vw;
    height: 11.854166666666666vw;
    color: white;
    padding-top: 2.6041666666666665vw;
    font-size: 0.9154166666666666vw;
    text-align: center;
}

/**/

.anakutu .cardsArea .area .areaTwo .cardFive{
    background-color: #5f4f76;
    width: 20.833333333333332vw;
    height: 22.395833333333332vw;
    margin-right: 13.020833333333334vw;
    border-radius: 1.3020833333333333vw;
    box-shadow: 0vw 0vw 3.050640634533252vw 0.6101281269066504vw #081029;
    transition: .5s ease;
}

.anakutu .cardsArea .area .areaTwo .cardFive .imgFive{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
}

.anakutu .cardsArea .area .areaTwo .cardFive .imgFive img{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
    border-radius: 1.3020833333333333vw 1.3020833333333333vw 0vw 0vw;
}

.anakutu .cardsArea .area .areaTwo .cardFive .imgFive #csharpText{
    width: 20.833333333333332vw;
    height: 11.854166666666666vw;
    color: white;
    padding-top: 2.6041666666666665vw;
    font-size: 0.9154166666666666vw;
    text-align: center;
}

/**/

.anakutu .cardsArea .area .areaTwo .cardSix{
    background-color: #5f4f76;
    width: 20.833333333333332vw;
    height: 22.395833333333332vw;
    border-radius: 1.3020833333333333vw;
    box-shadow: 0vw 0vw 3.050640634533252vw 0.6101281269066504vw #081029;
    transition: .5s ease;
}

.anakutu .cardsArea .area .areaTwo .cardSix .imgSix{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
}

.anakutu .cardsArea .area .areaTwo .cardSix .imgSix img{
    width: 20.833333333333332vw;
    height: 10.854166666666666vw;
    border-radius: 1.3020833333333333vw 1.3020833333333333vw 0vw 0vw;
}

.anakutu .cardsArea .area .areaTwo .cardSix .imgSix #cplusText{
    width: 20.833333333333332vw;
    height: 11.854166666666666vw;
    color: white;
    padding-top: 2.6041666666666665vw;
    font-size: 0.8854166666666666vw;
    text-align: center;
}

/**/

.anakutu .footer{
    text-align: center;
    background-color: #081029;
    width: 100vw;
    height: 15.625vw;
    display:flex;
}

.anakutu .footer .foto{
    height: 13.697916666666666vw;
    width: 13.020833333333334vw;
}

.anakutu .footer .foto img{
    height: 13.697916666666666vw;
    width: 13.020833333333334vw;
}

.anakutu .footer .menu{
    background-color: transparent;
    width: 10.416666666666666vw;
    height: 13.697916666666666vw;
    margin-left: 15.416666666666666vw;
}

.anakutu .footer .menu ul{
    list-style-type: none;
}

.anakutu .footer .menu ul li{
    margin-top: 1.5625vw;
}

.anakutu .footer .menu ul li a{
    text-decoration: none;
    color: #5f4f76;
    font-size: 0.9375vw;
}

.anakutu .footer .menu ul li a:hover{
    color: #342447;
}

.anakutu .footer .about{
    background-color: transparent;
    width: 26.041666666666668vw;
    height: 13.697916666666666vw;
    margin-left: 28.354166666666668vw;
    padding: 0.5208333333333334vw;
    padding-top: 2.6041666666666665vw;
    color: #5f4f76;
    font-size: 1.0416666666666667vw;
}